* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
} */

:root {
  --bg-color: #ffffff;
  --text-color: #000;
  --secound-color: #a09dab;
  --main-color: #f75023;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

/* NAVBAR */

li,
a,
button {
  font-weight: 900;
  font-size: 18px;
  color: #edf0f1;
  text-decoration: none;
}

/* places the nav links in the centre */

nav {
  background-color: #161a1d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}

html {
  scroll-behavior: smooth;
}

/* removes the bullet points */

.nav-links {
  list-style: none;
}

/* this makes the links be side by side  */

.nav-links li {
  position: sticky;
  top: 0;
  display: inline-block;
  padding: 0px 30px;
}

.nav-links,
li,
a {
  transition: all 0.3s ease 0s;
}

.nav-links,
li,
a:hover {
  color: #0088a9;
}

/* Targetting the button and using an rgba to drop the opacity*/

button {
  padding: 10px 29px;
  background-color: rgba(0, 136, 168, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 168, 0.8);
}

/* Home Section */

#Home {
  background-color: #24252a;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 670px;
  justify-content: center;
  align-items: center;
}

.heading2 {
  font-size: 75px;
  margin: 20px 0px 20px;
  color: white;
}

.heading3 {
  font-size: 20px;
  margin: 20px;
  color: #0088a9;
}

.heading1 {
  letter-spacing: 2px;
  color: white;
  font-size: 30px;
}

/* About section */

#About {
  background-color: #24252a;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#About h1 {
  margin: 50px;
}

.main img {
  height: 500px;
  width: 600px;
  opacity: 0.9;
  padding: 0px 50px;
  align-items: center;
}

.main {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text h1 {
  color: #edf0f1;
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
}

.text p {
  color: #99c1de;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 45px;
}

/* Projects section */

#Projects {
  background-color: #24252a;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0px;
}

#Projects::before {
  background-color: #24252a;
}

.title {
  margin: 50px 70px;
  color: #edf0f1;
  font-size: 40px;
  text-align: center;
}

.sub-title {
  margin: 0px 0px 80px;
  color: #0088a9;
  font-size: 20px;
  text-align: center;
}

.work-container {
  background-color: #24252a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #24252a;
}

.box-1 {
  width: 400px;
  height: 380px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 10px 12px rgb(3, 229, 245);
  position: relative;
  display: block;
}

.project-image {
  width: 267px;
  height: 363px;
  padding: 0px;
}

.project-image img {
  width: 150%;
  height: 110%;
  opacity: 0.5;
}

.work-box img {
  opacity: 0.5;
}

.work-box {
  width: 900px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 10px 12px rgb(3, 229, 245);
  position: relative;
}

.work-box img {
  width: 900px;
  height: 500px;
}

.work-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item-data h4 {
  text-align: center;
}

.item-data {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 100%;
  transform: translate(-50%);
}

.item-data {
  background-color: none;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
}

.temp-title {
  font-size: 40px;
}

/* Contact Section */

#Contact {
  text-align: center;
  background-color: #24252a;
  padding: 20px 100px;
}

#Contact h2 {
  font-size: 50px;
  justify-content: flex-start;
  text-align: center;
}

.H {
  color: #0088a9;
}

h2 {
  justify-content: center;
  align-items: center;
}

.H2 {
  color: #edf0f1;
  font-size: 40px;
}

.info-container {
  background-color: #48cae4;
  border-radius: 5px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.box {
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 20px;
}

.box4 {
  margin-bottom: 20px;
  padding: 20px;
}

.box5 {
  margin-bottom: 20px;
  padding: 20px;
}

/* Footer section  */

footer {
  position: relative;
  width: 100%;
  height: 120px;
  background: #161a1d;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.end {
  color: white;
  font-size: 17px;
}

.social {
  display: flex;
  justify-content: center;
}
.social a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0088a9;
  border-radius: 50%;
  margin: 22px 10px;
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  .work-box {
    width: 440px;
    height: 440px;
  }

  .work-box img {
    width: 440px;
    height: 440px;
  }

  .text h1 {
    align-items: flex-start;
    text-align: center;
  }

  .text p {
    font-size: 14px;
    text-align: center;
  }

  .main {
    flex-direction: column;
    align-items: center;
  }

  .main img {
    width: 475px;
    height: 300px;
  }
}

@media screen and (max-width: 596px) {
  .hero,
  .nav-links,
  .nav-container {
    padding: 30px 30px 30px;
    flex-direction: column;
    text-align: center;
  }

  .heading1,
  .heading2,
  .heading3 {
    text-align: center;
  }
  .title .sub-title {
    text-align: center;
  }

  .work-box {
    width: 440px;
    height: 440px;
  }

  .work-box img {
    width: 440px;
    height: 440px;
  }

  .text h1 {
    align-items: flex-start;
    text-align: center;
  }

  .text p {
    font-size: 14px;
    text-align: center;
  }
}

/* random */
.layer {
  text-align: center;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  transition: all 0.4s;
}
.layer:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, #191919);
}
.layer h3 {
  position: absolute;
  width: 100%;
  font-size: 25px;
  font-weight: 500;
  color: var(--bg-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.4s;
}
.layer:hover h3 {
  bottom: 52%;
  opacity: 1;
}

.layer h5 {
  position: absolute;
  width: 100%;
  font-size: 30px;
  font-weight: 500;
  color: var(--bg-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.4s;
}
.layer:hover h5 {
  bottom: 48%;
  opacity: 1;
}

.layer a {
  position: absolute;
  margin-bottom: 30px;
  width: 100%;
  font-size: 50px;
  font-weight: 500;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.4s;
}
.layer:hover a {
  bottom: 48%;
  opacity: 1;
}

.button {
  padding: 30px 30px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

button:hover {
  background-color: rgba(0, 136, 168, 0.8);
}

.s-heading {
  /* padding-top: 10rem; */
  /* text-align: center; */
  /* font-size: 30px;
  font-weight: 900;
  color: #fff; */
}

/* .items-box {
  font-size: 70px;
} */

/* .button {
  padding: 10px 29px;
  background-color: rgba(0, 136, 168, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
} */
