*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans' , sans-serif;
    /* background-color: #24252A; */
    
    
}

     /* NAVBAR */

li , a, button{
    font-weight: 900;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}

/* places the nav links in the centre */

nav{
    background-color: #161a1d;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px

}
/* removes the bullet points */

.nav-links{
    list-style: none;
}

/* this makes the links be side by side  */

.nav-links li{
    display: inline-block;
    padding: 0px 30px;
}

.nav-links, li, a{
    transition: all 0.3s ease 0s;
}

.nav-links, li, a:hover{
    color: #0088a9;
}

/* Targetting the button and using an rgba to drop the opacity*/

button{
    padding: 10px 29px;
    background-color: rgba(0,136,168,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,168,0.8);

}

     /* Home Section */

#Home{
    background-color: #161a1d;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 670px;
    justify-content: center;
    align-items: center; 
    
}
/* 
#Home{
    height: 108vh;
    width: 100%;
    background-color: #24252A;
    background-image: url(./images/black-background.png);
    background-size: cover;
    background-position: center;
    opacity
} */

.heading2{
    font-size: 75px;
    margin: 20px 0px 20px;
    color: white;
}

.heading3{
    font-size: 20px;
    margin: 20px ;
    color:#0088a9;
}

.heading1{
    letter-spacing: 2px;
    color: white;
    font-size: 30px;
}

      /* About section */

#About{
    background-color: #24252A;
    width: 100%;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    height: 670px;
}

#About h1{
    margin: 50px;
}

.main img{
    height: 500px;
    width: 600px;
    opacity: 0.9;
    padding: 0px 50px;
    align-items:center
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.text h1{
    width: 550px;
    height: 1000;
    color: #edf0f1;
    font-size: 40px;
    text-transform: capitalize;
    margin: 55px;
    text-align: center;
}

.text p{
    color: #99c1de;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 45px;

}

/* Projects section */



                                                   


@media (max-width:800px){
    .hero{
        background-color:#24252A;
        padding: 10px;
    }
}