* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --bg-color: #ffffff;
}

/* NAVBAR */

li,
a,
button {
  font-weight: 900;
  font-size: 18px;
  color: #edf0f1;
  text-decoration: none;
}

nav {
  background-color: #161a1d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}

html {
  scroll-behavior: smooth;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  position: sticky;
  top: 0;
  display: inline-block;
  padding: 0px 30px;
}

.nav-links,
li,
a {
  transition: all 0.3s ease 0s;
}

.nav-links,
li,
a:hover {
  color: #0088a9;
}

button {
  padding: 10px 29px;
  background-color: rgba(0, 136, 168, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 168, 0.8);
}

/* Home Section */

#Home {
  background-color: #24252a;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 670px;
  justify-content: center;
  align-items: center;
}

.heading2 {
  font-size: 75px;
  margin: 20px 0px 20px;
  color: white;
}

.heading3 {
  font-size: 20px;
  margin: 20px;
  color: #0088a9;
}

.heading1 {
  letter-spacing: 2px;
  color: white;
  font-size: 30px;
}

/* About section */

#buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2em 0em;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 300px;
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #08fdd8;
  outline: solid 2px #08fdd8;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect04::before,
.effect04 span {
  margin: 0 auto;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}

.effect04:hover {
  background-color: #08fdd8;
}

.effect04:hover span {
  -webkit-transform: translateY(-400%) scale(-0.1, 20);
  transform: translateY(-400%) scale(-0.1, 20);
}

.effect04::before {
  content: attr(data-sm-link-text);
  color: #000;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1, 20);
  transform: translateY(500%) scale(-0.1, 20);
}

.effect04:hover::before {
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}

#About {
  background-color: #24252a;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#About h1 {
  margin: 50px;
}

.main img {
  opacity: 0.9;
  padding: 0px 50px;
  align-items: center;
}

.main {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text h1 {
  color: #edf0f1;
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
}

.text p {
  color: #99c1de;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 45px;
}

/* Projects section */

#Projects {
  background-color: #24252a;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0px;
}

.title {
  margin: 50px 70px;
  color: #edf0f1;
  font-size: 40px;
  text-align: center;
}

.sub-title {
  margin: 0px 0px 80px;
  color: #0088a9;
  font-size: 20px;
  text-align: center;
}

.container {
  background-color: #24252a;
}

.work-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 420px;
  height: 420px;
  border-radius: 25px;
  overflow: hidden;
  border: 8px solid #fff;
  position: relative;
  margin: 20px 20px 20px;
}

.topcard {
  width: 1000px;
  height: 500px;
  border-radius: 25px;
  overflow: hidden;
  border: 8px solid #fff;
  position: relative;
  margin: 20px 20px 20px;
}

.card-img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-radius: 15px;
}

.card-img2 {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-radius: 15px;
}

.card-body {
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #1f3d4738;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 2s;
}

.card:hover .card-body {
  right: 0;
}

.topcard:hover .card-body {
  right: 0;
}

.card-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 500;
}

.card-title2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 56px;
  font-weight: 500;
}

.card-sub-title {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
}

.card-info {
  font-size: 16px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
}

.card-info2 {
  font-size: 25px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
}

.card-btn {
  color: #fff;
  background: #0088a9;
  padding: 10px 20px;
  width: 90px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

.btnforcard {
  display: flex;
  justify-content: center;
}

.card-btn {
  background: #48cae4;
  margin: 8px;
}

/* Contact Section starts */

#Contact {
  text-align: center;
  background-color: #24252a;
  padding: 20px 10px;
}

#Contact h2 {
  margin: 30px;
  font-size: 50px;
  justify-content: flex-start;
  text-align: center;
}

.H {
  color: #08fdd8;
}

h2 {
  justify-content: center;
  align-items: center;
}

.H2 {
  color: #edf0f1;
  font-size: 40px;
}

.form {
  background: #343a40;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  border-top: 5px solid #08fdd8;
  animation: bounce 1.5s infinite;
}
::-webkit-input-placeholder {
  font-size: 1.4em;
}

.title {
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
}
.termsConditions {
  margin: 0 auto 5px 80px;
}

.pageTitle {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.name:hover {
  border-bottom: 5px solid #08fdd8;
}

.email:hover {
  border-bottom: 5px solid #08fdd8;
}

.message {
  height: 10rem;
}

.message:hover {
  border-bottom: 5px solid #08fdd8;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

.span1 {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 10px;
  perspective: 1000px;
}
span a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}
span a:before,
span a:after {
  position: absolute;
  content: "Send message!";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before {
  color: #08fdd8;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after {
  color: #000;
  background: #08fdd8;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

.wrapper {
  padding-bottom: 80px;
}

/* Contact Section ends */

/* Footer section  */

footer {
  position: relative;
  width: 100%;
  height: 120px;
  background: #161a1d;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.end {
  color: white;
  font-size: 17px;
}

.social {
  display: flex;
  justify-content: center;
}
.social a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0088a9;
  border-radius: 50%;
  margin: 22px 10px;
  font-size: 20px;
}

/* End of Footer section  */

@keyframes bounce {
  0% {
    tranform: translate(0, 10px);
  }
  50% {
    transform: translate(0, 15px);
  }
}

@media screen and (max-width: 992px) {
  .card-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
  }

  .card-title2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
  }

  .card-info {
    font-size: 13px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
  }

  .card-info2 {
    font-size: 10px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
  }

  .card {
    width: 280px;
    height: 280px;
  }

  .topcard {
    width: 280px;
    height: 280px;
  }

  .main {
    flex-direction: column;
    align-items: center;
  }

  .main img {
    width: 300px;
  }

  .layer1 h5 {
    font-size: 17px;
  }

  .layer h5 {
    font-size: 15px;
  }

  .layer1 a {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .button {
    margin-bottom: 40px;
    padding: 10px 10px;
    font-size: 15px;
  }

  .formEntry {
    min-width: auto;
  }

  .form {
    max-width: 100vh;
  }

  .message:hover {
    height: 12em;
    width: 200px;
  }

  .email:hover {
    height: 30px;
    width: 200px;
  }
  .name:hover {
    height: 30px;
    width: 380px;
  }
}

@media screen and (max-width: 596px) {
  .hero,
  .nav-links,
  .nav-container {
    padding: 30px 30px 30px;
    flex-direction: column;
    text-align: center;
  }

  .heading1,
  .heading2,
  .heading3 {
    text-align: center;
  }
  .title .sub-title {
    text-align: center;
  }

  .text h1 {
    align-items: flex-start;
    text-align: center;
  }

  .text p {
    font-size: 14px;
    text-align: center;
  }
}
